node_modules/
.env
# Ignore Python virtual environments
venv/
.venv/
__pycache__/
*.pyc

# Ignore the generated vector database folder
faiss_kajabi_index/

# Ignore virtual environments
.venv/
Kajabi_Scraper/venv/

faiss_guides_index/

kajabi_full_api_documentation.txt
kajabi_full_guides_documentation.txt
